# Import Dependencies

In [156]:
import numpy as np
import pandas as pd

# Pandas String Documentation

In [157]:
import webbrowser
webbrowser.open_new_tab('http://pandas.pydata.org/pandas-docs/stable/text.html')

True

# A String & Regex Pattern to Match

In [158]:
string = ['fg44h4j', 'rghi', 'tr44e', 'IG4u']
pattern = '4'
pattern2 = 'i'
pattern3 = 'g'

# Convert to Dataframe

In [159]:
z = pd.DataFrame(string, columns = ['text'])
z

      text
0  fg44h4j
1     rghi
2    tr44e
3     IG4u

# 4 Basic Regex Actions

1. Matching (logical/counting)
2. Subbing
3. Splitting
4. Extracting

## Matching: Logical

In [160]:
z.text.str.contains('4')

0     True
1    False
2     True
3     True
Name: text, dtype: bool

In [161]:
z.text.str.contains('i')

0    False
1     True
2    False
3    False
Name: text, dtype: bool

### Ignore Case

In [162]:
z.text.str.contains('(?i)i')

0    False
1     True
2    False
3     True
Name: text, dtype: bool

## Matching: Counting

In [163]:
z.text.str.count('4')

0    3
1    0
2    2
3    1
Name: text, dtype: int64

In [164]:
z.text.str.count('i')

0    0
1    1
2    0
3    0
Name: text, dtype: int64

### Ignore Case

In [165]:
z.text.str.count('(?i)i')

0    0
1    1
2    0
3    1
Name: text, dtype: int64

# Subbing

In [166]:
z.text.str.replace('4', '<<FOUR>>')

0    fg<<FOUR>><<FOUR>>h<<FOUR>>j
1                            rghi
2             tr<<FOUR>><<FOUR>>e
3                     IG<<FOUR>>u
Name: text, dtype: object

In [167]:
z.text.str.replace('i', '<<AYE>>')

0       fg44h4j
1    rgh<<AYE>>
2         tr44e
3          IG4u
Name: text, dtype: object

### Ignore Case

In [168]:
z.text.str.replace('(?i)i', '<<AYE>>')

0       fg44h4j
1    rgh<<AYE>>
2         tr44e
3    <<AYE>>G4u
Name: text, dtype: object

# Splitting

In [169]:
z.text.str.split('4')

0    [fg, , h, j]
1          [rghi]
2       [tr, , e]
3         [IG, u]
Name: text, dtype: object

In [170]:
z.text.str.split('g')

0    [f, 44h4j]
1       [r, hi]
2       [tr44e]
3        [IG4u]
Name: text, dtype: object

### Ignore Case

In [171]:
z.text.str.split('(?i)g')

0    [f, 44h4j]
1       [r, hi]
2       [tr44e]
3       [I, 4u]
Name: text, dtype: object

### Splitting to Dataframe

In [172]:
z.text.str.split('4', expand=True).fillna('')

      0  1  2  3
0    fg     h  j
1  rghi
2    tr     e
3    IG  u

# Extracting

In [173]:
z.text.str.extractall('(4)')

         0
  match
0 0      4
  1      4
  2      4
2 0      4
  1      4
3 0      4

### Going Wide

In [174]:
z.text.str.extractall('(4)').unstack().fillna('')

       0
match  0  1  2
0      4  4  4
2      4  4
3      4

In [175]:
z.text.str.extractall('(g)')

         0
  match
0 0      g
1 0      g

### Ignore Case

In [176]:
z.text.str.extractall('(?i)(g)')

         0
  match
0 0      g
1 0      g
3 0      G

# Exercises

## String Data

In [177]:
wiki = ["In theoretical computer science and formal language theory, a regular expression (sometimes called a rational expression)[1][2] is a sequence of characters that define a search pattern, mainly for use in pattern matching with strings, or string matching, i.e. \"find and replace\"-like operations.",
    "The concept arose in the 1950s, when the American mathematician Stephen Kleene formalized the description of a regular language, and came into common use with the Unix text processing utilities ed, an editor, and grep, a filter.",
    "In modern usage, \"regular expressions\" are often distinguished from the derived, but fundamentally distinct concepts of regex or regexp, which no longer describe a regular language.",
    "See below for details."
]
wiki

['In theoretical computer science and formal language theory, a regular expression (sometimes called a rational expression)[1][2] is a sequence of characters that define a search pattern, mainly for use in pattern matching with strings, or string matching, i.e. "find and replace"-like operations.',
 'The concept arose in the 1950s, when the American mathematician Stephen Kleene formalized the description of a regular language, and came into common use with the Unix text processing utilities ed, an editor, and grep, a filter.',
 'In modern usage, "regular expressions" are often distinguished from the derived, but fundamentally distinct concepts of regex or regexp, which no longer describe a regular language.',
 'See below for details.']

## Use `'wiki'` to make a 1 column pandas dataframe with the column named wiki.

## Which elements contain the expression "regular"?

## Which elements contain the expression "regular expression"?

## Get a count of the number of times the expression "regular" appears in each element.

## Get a count of the number of times the expression "regular expression" appears in each element.

## Get a count of the number of times the exact (match case) expression "the" appears in each element.

## Get a count of the number of times the expression "the" appears in each element ignoring case.

## Replace the expression "regular expression" with `"<<REGEX>>"`.

## Replace the exact expression "the" with `"<<ARTICLE>>`.

## Replace the expression "the" with `"<<ARTICLE>>` ignoring case.

## Extract all the occurrences of the exact expression "the" from each element.

## Extract all the occurrences of the expression "the" from each element ignoring case.

## Split the text on the expression "the".

# Challenge

***Hint***: you'll need to use/read [the documentation](http://pandas.pydata.org/pandas-docs/stable/text.html)

## Split on the first occurrence of the expression "the".

## Split on the last occurrence of the expression "the".

## Switch all lower case letter 'a' to 'e' and vice versa.